{% extends 'base.html' %}
{% block title %}
    <title>每日工作報告</title>
{% endblock title %}
{% block nav %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'daily:index' %}">工作報告</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a class="navbar-brand" href="{% url 'daily:index' %}">日報</a></li>
            <li><a class="navbar-brand" href="{% url 'weekly:index' %}">週報</a></li>
        </ul>
        <div class="pull-right" id="div-bread">
            {% if request.user.is_authenticated %}
                <span>{{ name }} 已登录</span>
                <a href="{% url 'admin:index' %}">管理</a><span>&nbsp;/&nbsp;</span>
                <a href="{% url 'admin:password_change' %}">修改密碼</a><span>&nbsp;/&nbsp;</span>
                <a href="{% url 'daily:logout' %}?next=/">註銷</a>
            {% else %}
                <a href="{% url 'daily:login' %}?next=/">登錄</a>
            {% endif %}
        </div>
        <div class="navbar-text">
            {{ user.name }}
        </div>
        <div class="navbar-form navbar-search">
            <form id="search" action="{% url 'daily:index' %}" method="get" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" id="date" name="date" placeholder="Search"
                           onfocus="WdatePicker({onpicked:function(){document.getElementById('btn-submit').click()}})"
                           value="{{ date }}"/>
                    <button type="button" class="btn btn-default" id="btn-submit"
                            onclick="location.href={% url 'daily:index' %} + document.getElementById('date').value">查看
                    </button>
                </div>
            </form>
        </div>
    </nav>
{% endblock nav %}
{% block body %}
    <div class="container">
        <div class="col-md-6" id="div-form">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    {{ report.date|date:"Y年m月d日 l 第W周"|default:"沒有數據！" }} {{ report.name|default:name }}
                </div>
                <div class="panel-body">
                    <form class="form" action="{% url 'daily:add' date %}" method="post" role="form">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="pre_work" class="col-md-3 text-center ">今日工作昨日预报</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id=pre_work" name="pre_work"
                                       value="{{ report.pre_work }}"
                                       {% if day_num != 0 %}readonly{% endif %}>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="real_work" class="col-md-3 text-center">今日實際工作安排</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="real_work" name="real_work"
                                       value="{{ report.real_work }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="key_result" class="col-md-3 text-center">关键結果</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="key_result" name="key_result"
                                       value="{{ report.key_result }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="complete_rate" class="col-md-3 text-center">完成度</label>
                            <div class="col-md-9">
                                <select class="form-control" id="complete_rate" name="complete_rate">
                                    {% for i in complete_rate_range %}
                                        <option {% if i == report.complete_rate %}selected{% endif %}>{{ i }}%</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tomorrow_work" class="col-md-3 text-center">明日工作预报</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="tomorrow_work" name="tomorrow_work"
                                       value="{{ report.tomorrow_work }}">
                            </div>
                        </div>
                        <button class="btn btn-block btn-success" type="submit">提交</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    參考：個人周工作安排
                </div>
                <div class="panel-body">
                    <ul>
                        <li>個人周工作安排</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    參考：組內周工作安排
                </div>
                <div class="panel-body">
                    <ul>
                        <li>組內周工作安排</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    {#    tab #}
    <div class="container">
        <ul class="nav nav-tabs" id="table-tab">
            {% for date in dates %}
                <li {% if forloop.counter0 == day_num %}class="active"{% endif %}
                    data-action="{% url 'daily:index' %}{{ date|date:'Y-m-d' }}">
                    <a href="#tab{{ forloop.counter }}" data-toggle="tab">{{ date|date:"l" }}</a>
                </li>
            {% endfor %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="action-menu" data-toggle="dropdown">導出<b
                        class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="action-menu">
                    <li><a href="javascript:void(0)" onclick="action_export()">導出為XLS文件</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)" onclick="action_upload()">導出并上傳至公共文件夾</a></li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            {% for date,item in reports %}
                <div class="tab-pane fade in {% if forloop.counter0 == day_num %}active{% endif %}"
                     id="tab{{ forloop.counter }}">
                    <table class="table table-bordered table-striped table-hover table-responsive">
                        <caption class="text-center"><h3>{{ date|date:"Y年m月d日 l 第W周" }}</h3></caption>
                        <thead>
                        <tr>
                            <td class="th1"><strong>序號</strong></td>
                            <td class="th2"><strong>姓名</strong></td>
                            <td class="th3"><strong>今日工作昨日预报</strong></td>
                            <td class="th4"><strong>今日實際工作安排</strong></td>
                            <td class="th5"><strong>关键結果</strong></td>
                            <td class="th6"><strong>完成度</strong></td>
                            <td class="th7"><strong>明日工作预报</strong></td>
                            <td class="th8"><strong>填寫IP</strong></td>
                            <td class="th9"><strong>更新時間</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report in item %}
                            <tr>
                                <td> {{ forloop.counter }}</td>
                                {% for i in report.get_ordered_value %}
                                    <td>{{ i }}</td>
                                {% endfor %}
                                <td>{{ report.update_datetime|date:"Y-m-d H:i:s" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        window.onload = function () {

        }
        function action_export() {
            location.href = $('#table-tab li').filter('.active').attr('data-action') + '/export';
        }
        function action_upload() {
            location.href = $('#table-tab li').filter('.active').attr('data-action') + '/export?upload=true';
        }
    </script>
{% endblock %}